[2018-06-22 04:21] lz666win opened #2 "about backend"
I notice you use pytorch ,can you provide a tf or keras as beckend? I think it is good for study

[2018-06-22 05:14] yil8 commented on #2
@lz666win  I'll try my best to work out a tf version if I have enough time, but the performance may not match the pytorch version. Another difficulty is in tf, I don't know what's the equivalent for pytorch Dataset, which support easy multi process data loading. It seems even data loading has to be some ops within tf land, which is a bit headache for me.

[2018-06-22 06:30] mooncakehe opened #3 "The idea about Pathological section"
I see you use 3x3 patches as the input. how about 5x5 or 7x7?
I kown the neighboring patch is also important to classify.
but Pathological classify has Histology and cytology. if the problem is cytology. will this skill work?

[2018-06-22 16:52] yil8 commented on #3
@mooncakehe Yes, you can definitely use 5x5 or 7x7, and the current codebase already supports this. But during training, you have to further reduce batch size to make sure memory fits. The only overhead is when you compute the probability map, there is going to be more computation wasted, since the current implementation is a little bit stupid.... Right now, only the prediction of the center patch

[2018-06-22 18:35] jeffshek opened #4 "Docker Container"
If I build and write up the requirements and installation into a docker file (for easier adoption), would you be willing to accept that pull-request into this repo? If so, I'll gladly do that!

[2018-06-22 18:47] yil8 commented on #4
@jeffshek Thanks for your help! Honestly, I have zero experience in docker, but I'm definitely interested in give a try. Do you mind work out a little bit README as well?

[2018-06-22 18:57] jeffshek commented on #4
Awesome! Docker has really helped onboarding installations and reduce the "works on my machine" problems. The numpy/scikit/pandas series can be quite a hurdle to install if the first attempt at putting it behind a virtualenv doesn't work, so this scares away too many people from contributing.

In the PR, I'll include both instructions (docker and non-docker) in the README.md.

[2018-06-22 18:57] #4 closed

[2018-06-27 08:07] sketchplanet opened #5 "downsampling level selection"
The heatmap generated by mask downsampled in level 8 and the heatmap generated by mask downsampled in level 6 difffers a lot. How to choose the downsampling level when generating the heatmap ? Why cause this?  A little confused , Thank you!

[2018-06-27 11:54] udion opened #6 "slide/mask mismatch"
If I follow the instructions for testing as given in readme. I get the following error

[code]

what's the issue?

[2018-06-27 12:38] udion commented on #6
mask is in npy file, do you mean using numpy resize(it will repeat elements, won't it disturb the mask)?

[2018-06-27 14:00] udion commented on #6
I splitted the tiff file and processed the level 6. It works.

[2018-06-27 16:54] yil8 commented on #5
@sketchplanet Generally, speaking smaller level heat map means smaller inference stride, e.g. (level 8 = 256, vs level 6 = 64). Smaller inference stride typically get you higher sensitivity with the sacrifice of more computation. The wining team of camelyon16 used an inference stride of 4, which is computationally infeasible in my current implementation for obtaining the heat map.

[2018-06-27 16:54] #5 closed

[2018-06-27 16:55] #2 closed

[2018-06-27 16:55] #3 closed

[2018-06-27 16:59] yil8 commented on #6
@sketchplanet can you point me to which slide caused you the error, e.g. Test_XXX.tif, ? I'd be interested in taking a look.

[2018-06-27 17:12] udion commented on #6
@yil8 awesome work.

I think it will be great to specify that, during test time

* If generating mask on the WSI, then the generated mask will be smaller in size and will have to be resized to match the WSI dimension

or

*  before using the test_XXX.tif, first split the file, then use level 6 split  (with --level 0) to generate the mask

I personally found second method to work, because first met

[2018-06-27 17:31] udion commented on #6
If I follow the readme as of now exactly,

test_026 gives the error as shown above.

[2018-06-27 17:45] yil8 commented on #6
@udion I just ran the command again:
[code]
It produced a tissue mask in numpy format of shape (1536, 1624), while in your error message, your tissue mask shape seems to be (1536, 2048). I also checked the level_dimensions of Test_026.tif, which showed:
[code]
where level 6 dimension is indeed (1536, 1624). Not sure why you obtained a shape of (1536, 2048) on Test_026.tif at level 6?

[2018-06-29 00:58] sketchplanet commented on #6
@yil8
 The slide does not keep a consistent ratio occurs in Training dataset(almost all ).
Tumor026:
(97280, 220672)
(48640, 110592)
(24576, 55296)
(12288, 27648)
(6144, 13824)
(3072, 7168)
(1536, 3584)
(1024, 2048)
(512, 1024)
(512, 512)
Here is my solution in tisuue_mask.py:
[code]

[2018-06-29 01:33] sketchplanet commented on #5
Previously I generate heatmap in level 8(extracting patch without overlap). I didn't realize the huge difference bwtween different strides  until try your code.  Maybe this is what makes me stuck  in recent months. Thank you.

[2018-06-29 01:34] sketchplanet commented on #5
@yil8 Previously I generate heatmap in level 8(extracting patch without overlap). I didn't realize the huge difference bwtween different strides until try your code. Maybe this is what makes me stuck in recent months. Thank you.

[2018-06-29 07:19] yil8 commented on #6
@sketchplanet my level_dimensions of Tumor_026.tif is quite different than yours:

[code]
And by definition, different level dimensions should be different in size of multiplies of 2, like in my case but not in your case. Not sure what happened in your case?

[2018-06-29 07:30] udion commented on #6
maybe it has something to do witht the source of data?

I downloaded using the google drive link, and maybe @yil8, you are using baidu pan?

[2018-06-29 17:47] yil8 commented on #6
@udion I was using the data from Google drive. BTW, there seems to be a application free download link from [GigaDB](http://gigadb.org/dataset/view/id/100439/Sample_page/10/File_page/40), and I just downloaded `test_026.tif`, which gave me the correct level_dimensions:
[code]

[2018-06-30 05:55] udion commented on #6
I got it to work by splitting the tif files and then processing level 6 files (and specifying --level 0), anything wrong there?

[2018-06-30 06:39] yil8 commented on #6
@udion maybe the splitting part is causing the trouble? I have never split the tif file and actually I don't even know how to split... Can you try to process the whole tif file at level 6?

[2018-07-02 07:51] meetshah1995 commented on #6
I'm splitting the file using [tiffsplit](http://manpages.ubuntu.com/manpages/artful/man1/tiffsplit.1.html) which created one tif file for each level:

[code]

[2018-07-02 10:52] udion opened #7 "probability map semantics"
the output of the command for generating probability map, like
[code]
generates numpy file for the probability map, but the semantics of numpy file are bit odd, how do I intereprete the values?

for example, in the above case, If I print the max and min values of test_012.npy, then I get
`0.05732796713709831 and 0.0`
Which seems odd to me, as I was expecting max probability to be 1 (or close to on

[2018-07-02 12:16] udion commented on #6
@yil8 I downloaded the sample from gigdb link you shared.
and again ran the following commands
[code]

and then

[code]

I again got the following error:
[code]

I am using pytorch 0.3.1 and python 3.6, and used reuirement.txt to set up the environment? are you following the same steps as written in the readme?

(also the way I got it to run by splitting tif file as @meetshah1995  pointed, the out

[2018-07-02 18:08] yil8 commented on #6
@udion Before you run `tissue_mask.py` and `probs_map.py`, can you simply check the level dimensions of `test_026.tif` is the same as mine without any preprocessing, like splitting?
[code]
It just seems to me that the level dimensions of your `test_026.tif` are different than mine. If that's the case, then `tissue_mask.py` and `probs_map.py` won't make any sense.

[2018-07-02 18:09] yil8 commented on #7
@udion as I answered in the other issue, can you please check the level dimensions of your `Test_026.tif` is consistent with mine?

[2018-07-03 11:36] meetshah1995 commented on #6
@yil8 I downloaded the test_026.tif from the GigaDB [link](ftp://parrot.genomics.cn/gigadb/pub/10.5524/100001_101000/100439/CAMELYON16/testing/images/test_026.tif)

I get this without any preprocessing:

[code]

[2018-07-03 17:14] udion commented on #6
@yil8 I am using resnet18_crf, that's fine right?

[2018-07-04 15:49] udion commented on #7
@yil8
No, the dimensions are not matching to what you've posted. In the following, I have tried another experiment and  I am posting the output here.

I tried running `tumor_001.tif` **PART OF TRAINING SET**, hoping to see some outputs which I can make sense of

so, the level6 image looks like:
![image](https://user-images.githubusercontent.com/18963158/42285916-9ae0022c-7fce-11e8-97f3-b04966645c0

[2018-07-04 22:41] yil8 commented on #6
@udion @meetshah1995 I still haven't figured out why you two obtained different level dimensions than mine. By definition, openslide pyramid levels should always be different by a factor of 2 between adjacent levels, and the [Evaluation_FROC.py](https://github.com/baidu-research/NCRF/blob/master/wsi/bin/Evaluation_FROC.py#L35) released by the Camelyon16 organizers used this feature in the code . M

[2018-07-04 22:56] yil8 commented on #7
@udion Again, as I mentioned this issue #6 , Unless the level_dimension mismatch is fixed, I don't think any downstream analysis is meaningful. As for your tumor_001.tif, it's weird that there is a significant white margin in the bottom of your figure, which is not the case in my plot. I suspect this may be one potential issue? Did you use any padding? My tumor_001.tif plot at level 6 looks like t

[2018-07-05 03:45] udion commented on #6
I made a new environment (with python=3.6) and installed everything using requirements.txt (except pytorch, which I installed manually using `pip install http://download.pytorch.org/whl/cu90/torch-0.3.1-cp36-cp36m-linux_x86_64.whl`)

so my openslide version is 1.1.0

I am still getting the dimensions which @meetshah1995 has posted above.

[2018-07-05 03:49] udion commented on #7
@yil8
yes I had noticed the white boundary on the bottom and right side of many levels (not only on level 6), my hunch was also the same that these boundaries are causing problem. But, I don't know why I got them in first place.

[2018-07-05 08:29] yil8 commented on #6
@udion @meetshah1995 as inspired by another issue #7 , I wondering if you could also plot test_026.tif at level 6 to see if there is also white margin there?
[code]
My plot of test_026.tif at level 6 looks like this

<img width="678" alt="screen shot 2018-07-05 at 10 24 31 am" src="https://user-images.githubusercontent.com/1263739/42311440-1b5c4338-803e-11e8-9baa-c9570122f2ea.png">

[2018-07-05 08:37] meetshah1995 commented on #6
@yil8  - Thanks for your prompt response. I tried plotting `test_026.tif` at level 6. My plot has a considerable white margin at the bottom.

[code]

![test_026_level6](https://user-images.githubusercontent.com/6251729/42311954-e878fd84-7ff3-11e8-98e0-dd5e490be850.png)

[2018-07-05 09:21] yil8 commented on #6
@meetshah1995 my binary version:
[code]

[2018-07-05 09:59] meetshah1995 commented on #6
@yil8 @udion

I upgraded my OpenSlide binary to 3.4.1 and the slides have the same dimension as mentioned by @yil8:

[code]

[2018-07-05 11:54] yil8 commented on #6
@meetshah1995 Thanks so much for spotting this potential issue! I'll add this into README.

[2018-07-06 14:03] udion commented on #7
@yil8 the ground truth available for evaluation on google drive, looks something like:
(for tumor_031 )
![tumor_031_evaluation_mask](https://user-images.githubusercontent.com/18963158/42382676-aaf5e34a-8152-11e8-898a-1102787e4c78.png)

I can't find such things for test images, so I assume ground truth has to be created using annotation xml files. I am unable to install ASAP, I see you're convertin

[2018-07-06 15:35] yil8 commented on #7
@udion Sadly, the camelyon16 organizers seem to have remove the ground truth masks in tif format. There used to be a set of Test_XXX_Mask.tif files that only the tumor pixels at level 0 are white([255, 255, 255]) and all the other region pixels are black ([0, 0, 0]). The evaluation code from the camelyon16 organizers still depends on these mask tif files (I highly encourage you to read the evaluat

[2018-07-07 05:04] udion commented on #7
@yil8

I wrote some code to take as input the json file and the level, and generate mask file at that level

example for `test_001.tif` mask at level 6:
![test_001](https://user-images.githubusercontent.com/18963158/42407002-47669782-81d1-11e8-8ff6-f4eae6db41ea.png)

would you be interested in accepting a pull request?

[2018-07-09 02:53] udion commented on #6
thanks!

[2018-07-09 02:53] #6 closed

[2018-07-09 08:04] yux94 commented on #7
@yil8  In the last step, Baidu also used the GT with the type of '.tif', just like you mentioned above.If it is convenient to you,  could you please provide the download link? Thx~

[2018-07-09 12:45] BeHappy1 commented on #7
hi, I meet the same problem with you ,my probability value is also small . Could you tell me how you solve it.thank you.

[2018-07-09 17:47] yil8 commented on #7
@yux94 sorry, what download link are you referring to?

[2018-07-09 18:20] yil8 commented on #7
@BeHappy1 I have attached the tissue mask and the probability map of Test_026 at level 6 here for comparisons with yours. If everything goes smooth, you should obtain identical numerical results, which has been confirmed by one other user. Please let me know if you run into any further questions.
[Test_026_tissue_mask.npy](https://drive.google.com/file/d/1BdOJGeag7kq8_p1NqU_v-EQcV_OxHgcW/view?usp=

[2018-07-09 23:20] yux94 commented on #7
@yil8  sorry,i didn't make it clear. i mean the mask file with the type of '.tif' in the last step when you testing, since i can't find it on the web now, much appreciate!

[2018-07-10 00:15] yil8 commented on #7
@yux94 I don't have the download link for the mask files either....Maybe I should think about upload those mask files to Google drive or somewhere. But I guess that may violate the policy of  camelyon16 organizers

[2018-07-10 01:19] yux94 commented on #7
@yil8  yes, i see, thx anyway~

[2018-07-10 01:34] udion commented on #7
@BeHappy1

Check your system openslide version and confirm that it's 3.4.1

[2018-07-13 06:21] mxj-aoyun opened #8 "generate the corresponding patches"
I got error when I ran this command to generate the corresponding patches how can I solve it? thank you!
[code]

[2018-07-13 17:34] yil8 commented on #8
@mxj-aoyun can you type the following command?
[code]
It seems some tif files are missing, and I'd like to take a look. It may just be the case that the file prefix is different.

[2018-07-14 02:43] mxj-aoyun commented on #8
@yil8
[code]

[2018-07-14 13:18] Hukongtao opened #9 "openslide.lowlevel.OpenSlideError: TIFFRGBAImageGet failed"
JPEGLib: Not a JPEG file: starts with 0x00 0x00.
Traceback (most recent call last):
  File "wsi/bin/patch_gen.py", line 48, in <module>
    (args.patch_size, args.patch_size)).convert('RGB')
  File "/home/list-2018/.conda/envs/tensorflow/lib/python3.5/site-packages/openslide/__init__.py", line 223, in read_region
    level, size[0], size[1])
  File "/home/list-2018/.conda/envs/tensorflow/lib/pytho

[2018-07-14 13:19] Hukongtao commented on #9
Someone meet the error like me?and I have check the TIFF files,not this reason

[2018-07-14 18:03] yil8 commented on #8
@mxj-aoyun yeah, that's what I was guessing... Can you rename all the 'normal_XXX.tif' to 'Normal_XXX.tif', all the 'tumor_XXX.tif' to 'Tumor_XXX.tif', all the 'test_XXX.tif' to 'Test_XXX.tif'? The code assuming that way as documented in README. The organizers used to name all the files with first letter upper case.

[2018-07-14 18:30] yil8 commented on #9
@Hukongtao it seems there are some error with your openslide. Can you try to simply use openslide and read a region?
[code]

[2018-07-14 18:32] yil8 commented on #7
@udion Hi, if you did not run into any further issues of probability map semantics, I'm planing close this issue. Thanks

[2018-07-15 07:13] mxj-aoyun commented on #8
@yil8
           The problem is solved.  Thank you so much!

[2018-07-15 15:39] #7 closed

[2018-07-15 17:10] #8 closed

[2018-07-17 09:41] Hukongtao commented on #9
@yil8 I have tried the method you told me,but it doesn't work.Actually I can generate image patches, but the program will report an error when it run the 249 line(Tumor_049.tif, 14466, 127610).So I doubt if there is a problem with the picture.I got it by BaiDu Yun

[2018-07-17 09:47] Hukongtao commented on #9
@yil8
slide = openslide.Openslide('Tumor_049.tif')
[m, n] =slide.dimensions
slide.read_region((m,n), 0, (1024, 1024)).convert('RGB').save(hkt.jpg)
I got a totally black picture!!

[2018-07-17 17:01] yil8 commented on #9
@Hukongtao When you said "the method I told you didn't work", can you post the specific error message? As for
[code]
It is correct to return a black image, because you are reading (1024, 1024) pixels from the bottom right corner of the image, which is outside of the original WSI, and openslide will give you (0, 0, 0) pixels in return, which is black. I would recommend you go through the basic exam

[2018-07-18 03:11] Hukongtao commented on #9
@yil8
My error hint is :

INFO:root:2018-07-18 11:04:35, 100 patches generated...
INFO:root:2018-07-18 11:04:56, 200 patches generated...
(250, 'tumor_049', '14466', '127610', Namespace(coord_path='/home/list-2018/Documents/NCRF/coords/tumor_train.txt', level=0, num_process=5, patch_path='/home/list-2018/Documents/NCRF/PATCH_IMAGE', patch_size=768, wsi_path='/media/DATA2/list-2018/CAMELYON16/train

[2018-07-18 03:38] yil8 commented on #9
@Hukongtao can you type the following command?
[code]
It seems your file is named `tumor_049.tif`, while the code assume it is named `Tumor_049.tif` It may just be the case that the file prefix is different.

[2018-07-18 17:42] yil8 commented on #9
@Hukongtao Can you post the error message for the following command:
[code]

[2018-07-22 08:06] NarcissusInMirror opened #11 "May I ask the IDE you use in the research?"

[2018-07-22 21:16] yil8 commented on #11
@NarcissusInMirror sublime + vim, lol

[2018-07-23 04:01] yux94 opened #12 "Some issues about the reproducing results"
When I tried to reproduce your codes, there are less-than-perfect results.
For example, below is the raw test_001 tiff
![tif_raw_convert_img](https://user-images.githubusercontent.com/27813052/43056324-349ee9b6-8e6e-11e8-88a0-24d69112ee33.jpeg)
And after the whole training with the ResNet18-CRF, I got the test result as:
![probmap_convert_img](https://user-images.githubusercontent.com/27813052/430

[2018-07-23 12:08] BeHappy1 opened #13 "about how to compute pairwise_potential_E"
hi,may i ask about why you compute "pairwise_potential_E" by minus
pairwise_potential_E = torch.sum(
               **probs** * **pairwise_potential - (1 - probs)** * **pairwise_potential**,
                dim=2, **keepdim=True)
if i want to use it for multi-classification,how could i modify it.
thanks.

[2018-07-23 17:52] yil8 commented on #13
@BeHappy1 since quite a few people were asking the details of CRF module implementation, I've updated the doc string of [wsi/model/layers.py](https://github.com/baidu-research/NCRF/blob/master/wsi/model/layers.py#L19). Since we were doing binary classification, 1-d logit was used, where > 0 means tumor and < 0 means normal, and binary cross entropy loss was used. If you want to go multi-class, I g

[2018-07-23 18:30] yil8 commented on #11
@NarcissusInMirror Can you close this issue if there is no further questions?

[2018-07-24 02:14] yux94 commented on #12
Thank you so much for your generous help and suggestions！
After plotting the prob map with `cmap=jet`， I got the probability map of Test_001.tif with my ckpt as this:
![probmap_convert_img_001_plot](https://user-images.githubusercontent.com/27813052/43112468-e364b20e-8f28-11e8-9108-d484d30e7cf9.png)

Maybe I should train again and check my whole process, thank you so much!

[2018-07-24 03:22] yil8 commented on #12
@yux94 This one does look worse than my result. In addition to try my ckpt, it would be helpful to also plot your training/validation curve that I can also compare with mine.

[2018-07-24 08:11] #11 closed

[2018-07-24 08:12] NarcissusInMirror commented on #11
OK，I have closed it.

发自网易邮箱大师

On 07/24/2018 02:30，Yi Li<notifications@github.com> wrote：

@NarcissusInMirror Can you close this issue if there is no further questions?

—
You are receiving this because you were mentioned.
Reply to this email directly, view it on GitHub, or mute the thread.

[2018-07-24 08:20] NarcissusInMirror commented on #11
Thank you for your answer, I'm sorry that I forgot to check my e-mail last few days. It seems that my problem is quite unprofessional lol. Actually I 'm totally new to this field and know little, including I have to close the issue when the problem is get solve. Thank you anyway!

发自网易邮箱大师

在2018年07月24日 16:11，NarcissusInMirror<qiush_2015@163.com> 写道：
OK，I have closed it.

发自网易邮箱大师

On 07/24/2018 0

[2018-07-24 09:18] yux94 commented on #12
@yil8 Many thanks!

[2018-07-24 16:51] yil8 commented on #11
@NarcissusInMirror no don't worry! no problem is unprofessional, any questions are welcome here.

[2018-07-25 11:54] BeHappy1 commented on #13
thanks so much,i got it.

[2018-07-25 18:28] #13 closed, assigned to nobody

[2018-07-26 06:04] LXYTSOS opened #14 "how to generate tumor_train.txt"
how to generate the tumor_train.txt if I want to use my own dataset?

[2018-07-26 17:59] yil8 commented on #14
@LXYTSOS This is the tricky part. Usually it includes two steps. The first step is easier, it starts with obtaining the tissue mask of each tumor slide. Then I randomly sample coordinates based on the tumor tissue mask and determine it's label based on the annotation. But only random sampling is not good enough, you have to include hard negative patches, and the second step is for this purpose. Bu

[2018-07-27 03:52] LXYTSOS opened #15 "why should I set json_path_train and json_path_valid in the config file"
Since we've already know which part is tumor and which is normal(PATCHES_TUMOR_TRAIN and PATCHES_NORMAL_TRAIN), why should I still provide the json formatted annotations when training?

[2018-07-27 07:24] yux94 commented on #12
When I try to resample the training patches randomly by myself and train the network again, I got the prob map with test_084 like:
![probmap_convert_img_084_plot_resample_jet](https://user-images.githubusercontent.com/27813052/43305992-3c521930-91ac-11e8-8f4a-b977f9803aaf.png)
And below is the prob map with my previous reproduced ckpt:
![probmap_convert_img_084_plot_reproduce_jet](https://user-ima

[2018-07-30 10:12] yil8 commented on #15
@LXYTSOS Because for each coordinate, we sampled a 768x768 patch and then further split it into a grid of 3x3 256x256 patches. Only the label of the center coordinate of the 3x3 grid is known, the labels of the other 8 surroundings are still unknown and need to be retrieved through the json annotation.

[2018-07-30 10:17] yil8 commented on #12
@yux94 When I said other users achieved good performance, I mean they used my provided ckpt and achieved 0.8+ FROC score. Your last heatmap plot based on my ckpt also looks good, and I guess if you calculate the FROC score, it probably will be around 0.8 as well. For the training part, again due to determinism of GPU convolution, it's almost impossible to achieve numerical identical results for re

[2018-07-30 10:19] LXYTSOS commented on #15
thanks a lot, I just figured that out today by reading the training code.

[2018-07-30 10:19] #15 closed

[2018-07-30 10:27] LXYTSOS opened #16 "device-side assert triggered"
I got `RuntimeError: cuda runtime error (59) : device-side assert triggered at /pytorch/aten/src/THC/generic/THCTensorCopy.c:70` when calculate the loss(loss = loss_fn(output, target)), something wrong with my label?

[2018-07-30 12:32] yux94 commented on #12
Thank you so much for your patient and timely reply.
This is my training curve with 20 epoch, should I train with more epoch till the curve is stable?
![getimage](https://user-images.githubusercontent.com/27813052/43397377-2f0cb004-9437-11e8-83e1-9ee6f41031c5.png)

[2018-07-30 12:43] yux94 commented on #12
![getimage 1](https://user-images.githubusercontent.com/27813052/43397944-19b81340-9439-11e8-9539-8c9ca9779bef.png)
And this is my resampling training curve with 20 epoch.

[2018-07-31 01:28] #14 closed

[2018-07-31 03:00] LXYTSOS commented on #16
I printed the target out and found out that before the error shows, the shape of the target tensor is 2x9, but the batch size is 10, so the target tensor's shape is supposed to be 10x9. And the number of my train/valid samples are not multiple of 10, is that why I got this error?

[2018-07-31 03:20] swy0915 opened #17 "how to do 'hard negative mining'?"
how to do 'hard negative mining'? can you share the process detail？thank you very much

[2018-07-31 03:28] yil8 commented on #12
@yux94 your first curve looks very similar to mine, which converges to ~0.92 valid accuracy. I guess your second curve does not include hard negative examples, thus it converges to higher accuracy. For the curve with hard negative examples, did you train you model using exactly the same config/command I provided in the README?

[2018-07-31 03:31] yil8 commented on #17
@swy0915 This is the tricky part. Usually it includes two steps. The first random sampling step is easier, it starts with obtaining the tissue mask of each tumor slide. Then I randomly sample coordinates based on the tumor tissue mask and determine it's label based on the annotation. The code for the second hard negative mining part is messy, and it involves training a first model, obtain false tu

[2018-07-31 03:34] LXYTSOS commented on #16
I got another question, some of the ndpi files are labeled more than one class, not just tumor region, but some normal tissue labeled with muscle, normal, nec, etc.  So when retrieve the label, will it think it is positive because it's in the normal polygons?

[2018-07-31 05:13] swy0915 commented on #17
What do I need to do after i save  false tumor regions coordinates?

[2018-07-31 05:44] swy0915 commented on #17
@yil8 combined those coordinates with the randomly sampled ones,and retrain model again .and repeating this process?

[2018-07-31 06:03] LXYTSOS commented on #16
I have a xml annotation looked like this:`<Annotations>
<Annotation Name="Muscle" Type="Polygon" PartOfGroup="None" Color="#F4FA58">
here are coords
</Annotation>
<Annotation Name="Cancer" Type="Polygon" PartOfGroup="None" Color="#F4FA58">
here are coords
</Annotation>
<Annotation Name="Nec" Type="Polygon" PartOfGroup="None" Color="#F4FA58">
here are coords
</Annotation>
</Annotations>`
only the a

[2018-07-31 07:15] yil8 commented on #16
@LXYTSOS oh, you mean your own dataset outside of Camelyon16 ? If I understand incorrectly and you are using Camelyon16 data, can you point me to the specific one, e.g. Tumor_XXX.tif?

[2018-07-31 07:18] yil8 commented on #17
@swy0915 I only do it once, but in theory repeatedly online hard negative mining is a better solution, which I'm actually thinking about working on it next. I combined the randomly sampled coordinates from the first step with the hard negative coordinates.

[2018-07-31 07:35] swy0915 commented on #17
@yil8 thank you very much, I will try ...

[2018-08-01 02:25] LXYTSOS commented on #16
It seems that my model predicts every part as tumor

[2018-08-01 06:07] LXYTSOS commented on #16
yeah, my annotation format following the same principles, but a annotation file might contains both positive and negative regions.

[2018-08-01 07:55] #17 closed

[2018-08-02 01:56] yil8 commented on #16
@LXYTSOS I think for the purpose of tumor detection, you only need the annotation of tumor(positiver) regions, and can assume all other place are background/normal(negative) regions.

[2018-08-02 02:03] LXYTSOS commented on #16
Thanks for your very detailed reply, I'll try that.

[2018-08-02 02:03] #16 closed

[2018-08-02 11:49] LXYTSOS opened #18 "what if I patch the training images at level 1?"
If I patch the training images base on the level 1, 2, 3(still 768 by 768), should I downsample a image to the same level before sent it to testing?

[2018-08-03 03:32] yux94 commented on #12
Yes... Pretty sure.  I will check again , many thanks!

[2018-08-03 13:37] yil8 commented on #12
@yux94 sorry I couldn't help more on the training side. BTW, what's your FROC score for each case?

[2018-08-03 13:39] yil8 commented on #18
@LXYTSOS If you train you images on different levels other than 0, I guess you have to do it on the same level for testing. I haven't tried on training on different levels other than 0 and would probably expect decrease on performance.

[2018-08-06 01:37] LXYTSOS commented on #18
嗯好的，非常感谢，我试试。

[2018-08-06 01:38] #18 closed

[2018-08-13 06:34] hongdayu opened #19 "多label任务如何使用crf?"
如题

[2018-08-13 10:04] sarsigmadelta opened #20 "A issue about the data"
.tif 图片的 level 6 图片，与level 0图片。图片的两条边的缩放比例不一样，导致wsi_producer.py 的 52行报错。
请问有人遇到这个问题吗，谢谢啦

![image](https://user-images.githubusercontent.com/28585937/44025444-c03f89c0-9f22-11e8-839c-f204f904a1c9.png)

[2018-08-15 07:48] yil8 commented on #19
我在这个issue里提到了一些想法 #13

[2018-08-15 07:51] yil8 commented on #20
@sarsigmadelta 这个issue 里提到过这个问题 #6

[2018-08-23 22:37] wuyi1983 commented on #6
The same issue happened to me. I installed the openslide 3.4.0 on Ubuntu by using sudo apt-get install libopenslide-dev. How could I install 3.4.1 or update current version?
Thanks.

[2018-08-24 06:14] yil8 commented on #6
@wuyi1983 can you go to https://openslide.org/download/ and find 3.4.1 ?

[2018-08-28 09:50] yux94 commented on #12
Sorry for bothering you again, we have tried to use the .ckpt you provided within the codebase to generate the probability map, and the final FROC score is not satisfing either.

FP | 0.25 | 0.5 | 1 | 2 | 4 | 8 | Avg
-- | -- | -- | -- | -- | -- | -- | --
NCRF Model | 0.5265 | 0.6106 | 0.6681 | 0.7257 | 0.7743 | 0.8053 | 0.6851

So we checked the probability maps. First, we generate coordinates of

[2018-08-28 10:15] yux94 commented on #12
Sorry ,  Test_049 and Test_114 are not excluded , thus I got the bad result.

[2018-08-28 17:29] yil8 commented on #12
@yux94 did you obtain 0.80+ FROC score after excluding Test_049 and Test_114?

[2018-08-28 17:30] #19 closed

[2018-08-28 17:30] #20 closed

[2018-09-01 13:45] Hukongtao commented on #9
@yil8
import openslide
slide = openslide.OpenSlide('./Tumor_049.tif')
slide.read_region((14466 - 384, 127610 - 384), 0, (768, 768))

I got the error:
JPEGLib: Not a JPEG file: starts with 0x00 0x00.
Traceback (most recent call last):
  File "/home/hkt/github/NCRF/exp.py", line 6, in <module>
    region = slide.read_region((14466 - 384, 127610 - 384), 0, (768, 768))
  File "/home/hkt/.conda/envs/te

[2018-09-01 16:41] yil8 commented on #9
@Hukongtao Given this error message, I think it is more of a issue from openslide. I'm wondering which version did you use? OpenSlide 3.4.1 is required.

[2018-09-02 03:06] Hukongtao commented on #9
@yil8
I installed openslide by pip install openslide-python,but I got the error, the version is 1.1.1.
So I uninstall the version and install it once again by pip install openslide-python==1.1.0, I still got the error.
I think the reason lie in the coord.
when I change it to region = slide.read_region((14466 - 100, 127610 - 384), 0, (768, 768)), there is no error.

[2018-09-05 16:08] yil8 commented on #9
@Hukongtao 1.1.1 is the version of openslide-python, not the version of openslide library it self. It would be great if you could confirm the version of openslide library is 3.4.1 by typing the following command:

[code]

[2018-09-06 01:51] Hukongtao opened #21 "The ground truth of Test_026"
How do you get the ground truth annotation of Test_026??

[2018-09-07 17:56] yil8 commented on #21
@Hukongtao The ground truth annotation of test set was originally provided from the organizers in *.tif format, but they later removed the *.tif format, only keeping the coordinates in *.xml format. As for how to generate the coordinates of pre-sampled patches, that's a long story and has been discussed here #14

[2018-09-08 01:12] Hukongtao commented on #21
@yil8 In that case,Can you send me one tif format annotation?I will be very grateful to you. My QQ mail:1821141394@qq.com

[2018-09-08 01:29] Hukongtao commented on #12
@yux94 "I transferred the raw tiff test file and xml file to the tiff mask with the ASAP software manually". How did you do that?I need the test GT,too. I just used the ASAP look the tif.But I don't know how to produce the GT.

[2018-09-08 01:41] wenhuihuang1979 opened #22 "have an error when running probs_map.py"
Exception: Slide/Mask dimension does not match , X_slide / X_mask : 98304 / 1536, Y_slide / Y_mask : 103936 / 2048

[2018-09-08 02:17] yux94 commented on #12
@yil8  yes, I got the 0.80+ FROC score with your provided` .ckpt` after excluding Test_049 and Test_114, but my reproduced result is not satisfying either.

[2018-09-08 02:32] yux94 commented on #12
@Hukongtao  First you open the `.tif` file with the ASAP. Next load the `.xml` file and save it as `.araw` file. Then open the `.tif and .araw` file and save it(If I remember correctly). Here is my another solution by `cv2.fillPoly`: https://github.com/yux94/Pathology/blob/master/bin/xml2mask_2.py
Maybe the second method is more convenient.

[2018-09-08 06:37] Hukongtao commented on #12
@yux94 嗯嗯，代码可以使用。我把生成的结果转化成黑白图像得到的是图很大，但是前景只有很小的一块诶。和你在上面展示的不一样

[2018-09-08 06:38] Hukongtao commented on #12
@yux94 大神方便留个QQ或者微信么，有些问题还是想向您请教。或者您加我QQ：1821141394

[2018-09-08 13:10] yux94 commented on #12
Excuse me,  but I have one question again. Did you first train the resnet18 and then finetune the model with the crf model?

[2018-09-11 02:38] wenhuihuang1979 opened #23 "is the model in ckpt folder the trained model?"
is the model in ckpt the trained model? I used this model to run a testing for test_026, and get a different heatmap for baseline.
![image](https://user-images.githubusercontent.com/23426777/45334736-a90df000-b5ae-11e8-8fd0-4e3bb1919f3b.png)

[2018-09-11 18:02] yil8 commented on #23
@wenhuihuang1979 that is the trained model. When you plot the heatmap, can you try using the following setting?
[code]
I would highly recommend using `cmap=jet` to plot the probability map as compared to your case, which does not quite differentiate numbers around 0.5. You can also refer to #12 for reproducing results.

[2018-09-11 18:03] yil8 commented on #22
@wenhuihuang1979 Can you close this issue if this it is resolved?

[2018-09-12 01:42] wenhuihuang1979 commented on #23
@yil8 not the plot drawing problem here is I am testing for test_001, my heat map is
![image](https://user-images.githubusercontent.com/23426777/45396844-0322ba00-b670-11e8-914e-03e3ac20fc43.png)

However, your heatmap is
![image](https://user-images.githubusercontent.com/23426777/45396863-1cc40180-b670-11e8-828b-e38dd3a5be43.png)

[2018-09-12 17:10] yil8 commented on #23
@wenhuihuang1979 yeah, you definitely shouldn't use PyTorch 0.4, the API is significantly different than previous versions, e.g. they even get rid of Variable. Can you try PyTorch 0.3.1?

[2018-09-12 17:12] yil8 commented on #21
@Hukongtao If you have received the ground truth tif of Test_026 and have no further questions on this issue. Can you please close it? Thanks

[2018-09-13 03:34] #21 closed

[2018-10-11 02:34] koalary opened #24 "openslide.lowlevel.OpenSlideUnsupportedFormatError: Unsupported or missing image file"
Traceback (most recent call last):
  File "NCRF/wsi/bin/patch_gen.py", line 80, in <module>
    main()
  File "NCRF/wsi/bin/patch_gen.py", line 76, in main
    run(args)
  File "NCRF/wsi/bin/patch_gen.py", line 71, in run
    pool.map(process, opts_list)
  File "/usr/lib/python2.7/multiprocessing/pool.py", line 251, in map
    return self.map_async(func, iterable, chunksize).get()
  File "/usr/lib

[2018-10-11 03:17] koalary commented on #24
(koalary) koalary@ubuntu:~/Camelyon16$ sudo python NCRF/wsi/bin/patch_gen.py Tumor_002.tif NCRF/coords/tumor_train.txt PATCHES_TUMOR_TRAIN/
Traceback (most recent call last):
  File "NCRF/wsi/bin/patch_gen.py", line 80, in <module>
    main()
  File "NCRF/wsi/bin/patch_gen.py", line 76, in main
    run(args)
  File "NCRF/wsi/bin/patch_gen.py", line 71, in run
    pool.map(process, opts_list)
  Fil

[2018-10-11 03:19] koalary commented on #24
and I used openslide-python(1.1.1), could you please tell me what is wrong?

[2018-10-20 08:11] #23 closed

[2018-10-26 21:14] javadnoorb commented on #9
I'm getting the same error running the following:

[code]
[code]

I suspect the svs file metadata is corrupted.

[2018-10-29 16:20] TaranRai opened #25 "coords from jsons"
Hi,

I was wondering how are the coords made from the json files?

Kind regards,

Taran

[2018-10-29 20:24] yil8 commented on #25
@TaranRai The coords were not made from the json files, I pre-generated them. But the code for doing these part it not there yet. You can refer to this #14 .

[2018-12-06 07:19] ilikewind opened #26 "About how to generater Normal_*.json"
Hi,

I was wondering how to generater Normal_*. json files?

And if it was generatered by the normal tissue mask? can you share the process detail. Thank you!

Kind regards,

[2018-12-06 19:45] yil8 commented on #26
@ilikewind yes, for Normal_*.json files they were generated by random sampling coordinates from the normal tissue mask at some higher level, e.g. level 6.

[2018-12-06 19:45] #25 closed

[2018-12-06 21:20] yil8 commented on #26
@ilikewind It's always impossible to enumerate all the tissue regions of  a normal samples, so you have to do subsampling.

[2018-12-07 18:31] yil8 commented on #26
@ilikewind I'm not quite sure how you generated this figure, it seems the blue dots are concentrated about boundary regions. This might due to the effect of hard negative mining.

[2018-12-08 02:08] ilikewind commented on #26
@yil8 the figure was generated by your file Normal-001.json at NCRF/jsons/train/.
And I am not sure if you mistake the json file for coordinates/normal_train.txt . It seems we are discuss different issues.
Best wish.

[2018-12-08 04:19] yil8 commented on #26
@ilikewind I am so sorry, I was completely wrong about your question, and indeed I confused between Normal_001.json with coordinates/normal_train.txt. Normal_001.json was not really used through out this code base. Honestly, I forgot how Normal_*.json were generated, but they were probably not generated base on tissue mask

[2018-12-08 13:00] ilikewind commented on #26
@yil8 Ok, thanks for your patient. I will do something about it.

[2018-12-08 13:00] #26 closed

[2018-12-10 13:13] usamabaig1 opened #27 "Did you use transfer learning?"
Hi, Can you tell whether you used transfer learning or not? and if yes what were the details especially that of fine tuning? thanks in advance.

[2018-12-10 20:18] yil8 commented on #27
@usamabaig1 No I did not. I trained the model from scratch since we have enough data.

[2018-12-11 16:42] usamabaig1 commented on #27
Great.

[2018-12-11 16:42] #27 closed

[2019-01-03 00:41] #9 closed

[2019-01-03 03:11] javadnoorb commented on #9
In case this is of any use to anyone, I've encountered this with some TCGA svs files in the past. Changing the slide.read_region coordinates fixes the issue. I suspect this is caused by corrupt image metadata.

[2019-01-18 02:28] sangloupmonoutlook opened #28 "The ground truth of Test_026 too"
Can you send me one tif format annotation?I will be very grateful to you. My mail: sangloupmon@outlook.com

[2019-01-18 13:38] yil8 commented on #28
@sangloupmonoutlook Sorry but unfortunately, my data disk for the mask files were lost...I'm currently working with our system admin to see if I can get my data back.

[2019-01-18 13:38] #28 closed

[2019-01-19 01:37] sangloupmonoutlook commented on #28
Thank you very much for your help.

[2019-02-12 13:31] SamitHuang opened #29 "Codes for coordinate generation"
Could you release the codes for coordinates generation? Now the patch size is fixed to be 768x768. Once it changes, we need to generate new coordinates. Also need to extract and save a new set of extracted images, which is spatially expensive.

[2019-02-12 14:11] yil8 commented on #29
@SamitHuang The code for generating the coordinates are not prepared yet. It's a little bit messy. You can refer to this #14 . But I think you don't need to generate new coordinates when you change the patch size. Can you just use the current coordinates to generate a different patch size, e.g. 512x512?

[2019-02-12 14:28] SamitHuang commented on #29
But if the patch size is larger than 768, re-checking tumor region is required.

[2019-02-12 19:03] usamabaig1 commented on #29
Google labeled the patch as a tumor even if one of the pixels is of tumor region. so i think we can also do same.

[2019-02-13 03:53] yil8 commented on #29
@SamitHuang @usamabaig1 So there are two concepts here, first is the grid size, e.g. 768, the other is the patch size within the grid, e.g. 256. Each patch within the grid is modeled through CNN and CRF. We obtained the tumor/normal label of each patch within the grid by checking the center coordinate of each patch with respect to the ground truth annotation mask. Therefore, for a grid size of 768

[2019-02-13 06:23] SamitHuang commented on #29
Thanks. I understand the concepts. can you describe the hard negative mining procedure? Do you apply a previously trained CNN on each WSI for training exhaustively to find out all false negative tissue patches, then add them to the training set?

[2019-02-14 22:41] yil8 commented on #29
@SamitHuang Yes, I first trained a CNN on purely randomly sampled normal/tumor patches. Then applied this CNN on each tumor WSI in training set to find out all false negative tissue patches, then add them to the training set.

[2019-02-18 22:05] usamabaig1 opened #30 "Evaluation Mask Level in Evaluation_FROC"
Can the Evaluation_Mask_Level in Evaluation_FROC can be different from the level at which the probability map was generated?
I mean you generated the prob maps at level 6 but evaluation is done at level 5. Any particular reason behind this?
p.s. I generated ground truth tif file mask at level 6. Does it matter?
Thankyou.
https://github.com/baidu-research/NCRF/blob/1c8987f73e2ccf717b605eb28913d47b4

[2019-02-19 19:23] usamabaig1 commented on #7
@udion  Can you kindly share the code of converting xml to tiff ground truth files?

[2019-02-19 20:11] yil8 commented on #30
@usamabaig1 The Evaluation_FROC level was set by the Camelyon16 competition organizers. Therefore, I guess it's better not change it so the results are comparable. It's an arbitrary choice for me to set level 6 for generating probability map. I haven't tried other levels, but I guess it won't matter that much.

[2019-02-19 20:13] yil8 commented on #7
@usamabaig1 Cool, thanks!

[2019-02-19 20:13] #29 closed

[2019-02-23 10:47] YvanZh opened #31 "关于paper的一些疑问。"
#### 拜读了您的论文，有一点疑惑还请不吝赐教。才疏学浅尚在求学，如有纰漏万望海涵！
- 关于平均场理论。Q(Y)估计的是联合概率密度，而对于每一个Qi(yi),其与真实的边缘概率密度Pi(yi)的差别可能是很大的。不应该用Qi(yi)来估计真实的边缘密度，就像在一个贝叶斯网络中，你不应该用它来推测某个节点的状态。
比如一个标准的高斯联合分布P(μ,x)和最优的平均场高斯估计Q(μ,x)。Q选择了在它自己作用域中的高斯分布，因而变得很窄。此时边缘密度Qx(x)变得非常小，完全与Px(x)不同。
![_20190223183239](https://user-images.githubusercontent.com/42346979/53285246-712fe900-3799-11e9-8aaf-50d81a9d38e9.png)

[2019-02-26 02:23] yil8 commented on #31
@YvanZh 你好，mean-field的假设是说P(Y)太复杂，用另一个Q(Y)来近似，这个Q(Y)有个比较好的性质就是Q(Y) = prod_{i=1}^N Q(y_i)，换言之Q(Y)关于y_i的marginal就是Q(y_i)。那么Q(Y)的值该怎么取，就是靠最小化KL(Q||P)来决定，这样就能导出mean-field每一步的算法，即对y_i相邻的y_j求expectation，再normalize。至于Q(Y)能近似到P(Y)什么程度就取决于P(Y)符合这个Q(Y) = prod_{i=1}^N Q(y_i)假设的程度有多强。对于你画的这个图，我觉得正确的画法更可能大概是这样的：
![wechatimg481](https://user-images.githubusercontent.com/1263739/53382338-d6feab00-3928-11e9-8695-

[2019-02-27 10:43] YvanZh commented on #31
明白了，是我理解有误。感谢您百忙之中回复！

[2019-02-27 17:55] #31 closed

[2019-03-18 19:10] #30 closed

[2019-04-20 06:52] yingdiLee opened #33 "mask of Test_026 inference stride"
In Tissue mask part, you said you generate the mask of Test_026.tif in level 6 corresponding to the inference stride of 64, but I found the level 6 downsample factor is 57.375,  dose it means the inference stride is nearly 57 instead of 64?

[2019-04-21 01:22] yil8 commented on #33
@yingdiLee How did you find the level 6 downsample factor is 57.375?

[2019-04-21 08:50] yingdiLee commented on #33
this is my code:
import openslide
    wsi = openslide.OpenSlide('/open405/zyd/CAMELYON16/testing/images/test_026.tif')
    print(wsi.level_downsamples)

and I got this:
 /home/zyd/anaconda3/bin/python /home/zyd/PycharmProjects/Camelyon16/wsi/tissue_mask.py
(1.0, 1.9950980392156863, 3.9901960784313726, 7.903846153846153, 15.807692307692307, 30.5, 57.375, 98.75, 197.5)

Process finished with exit co

[2019-04-22 15:16] yil8 commented on #33
@yingdiLee Can you print the wsi.level_dimensions ? I remember they are powers of 2

[2019-04-24 19:23] OpenCv30 opened #34 "CRF implementation in Keras is not not giving good results"
Hi,
I am a student and working on Camelyon’16 as my Master’s project.
I was going through your very impressive paper - **Yi Li and Wei Ping. Cancer Metastasis Detection With Neural Conditional Random Field. Medical Imaging with Deep Learning (MIDL), 2018.**
And, found that you have implemented CRF in your code on top of Resnet 18. So far I am using Resnet50 but my FROC score is not going up from 0

[2019-04-26 10:10] yil8 commented on #34
@OpenCv30 Hi, so sorry for the late reply. First of all, did you only try resenet50 through my repo? There are other users using the default config resnet18 and were able to reproduce my results. I would definitely recommending reproducing my results through my repo first before trying re-implementing yourself.

[2019-04-26 14:33] OpenCv30 commented on #34
Thank for your reply.
I am using resnet50 architecture from keras without imagenet weight as i am not good at pytorch.
I have reproduced the heatmap of Test026.tif which is matching to your’s shared one. So, there is no problem with the model checkpoints given by you.
By the ways, it this normal behaviour of training that initially loss falls down and later remains same with any change?
Please sug

[2019-04-27 07:08] yil8 commented on #34
@OpenCv30 Typically, deep neural networks will overfit training data essentially, so I would expect training loss approaching 0 if it's not a gigantic dataset. Sorry, but I guess I don't have enough time to look into your code/implementation of CRF and check if it's correctly implemented. On the other hand, I thought pytorch is pretty easy to pick up...

[2019-04-27 07:41] OpenCv30 commented on #34
@yil8  As you have suggested, first I will learn pytorch to train a model from your code directly and generated heatmaps for Cam'16 test data to get desired Froc. But as such, I have never seen a BCE loss coming close to zeros for Camelyon Dataset.
I understand that you might not have time to see my code. But, can you please tell me from my training loss/acc profiles and weight maps that training

[2019-05-01 02:18] yil8 commented on #34
@OpenCv30 That's indeed weird that you can't make your BCE loss goes to zero on the training data. Can you turn off CRF and just do purely CNN and see if you can make your BCE loss goes to zero? Then you know if you may have bugs either in the CNN part or the CRF part.

[2019-05-06 06:30] OpenCv30 commented on #34
@yil8 - As you have suggested, I started training only resnet18 with your the patch locations shared by you.
I am seeing again loss is plateaued near 0.88. It is not going down even after 40 epochs.
![onlyResnet18](https://user-images.githubusercontent.com/13656983/57209503-575f1d80-6ff6-11e9-9a06-a5a6990104b9.png)

Please suggest me what could be wrong.  I have used the same training framework wh

[2019-05-06 11:36] yil8 commented on #34
@OpenCv30 are you training with my code or with your code? It's also strange that you have a significantly lower val-loss than train-loss, which almost never happened in my life...

[2019-05-15 03:45] mahendrakhened commented on #33
The wsi.level_dimensions are not in powers of 2.
Take for example: Test_001.tif
Number of Levels: 9
Dimensions:(86016, 89600), level_dimensions:((86016, 89600), (43008, 45056), (21504, 22528), (10752, 11264), (5632, 5632), (3072, 3072), (1536, 1536), (1024, 1024), (512, 512)).

Also, in the inference code: wsi_producer.py -> GridWSIPatchDataset() -> lines-> 54- 65, execution fails.
So, I had to co

[2019-05-16 16:06] yil8 commented on #33
@mahendrakhened I guess you are running into the same error as #6 , can you take a look?

[2019-05-23 02:22] #33 closed

[2019-05-28 06:36] OpenCv30 opened #35 "Pickle issue with prob_maps while generating heat maps"
HI,
I am running pobs_map to generate the heatmap for 130 test images to reproduce the FROC.
I started with normal configuration --GPU 0,1 and --num_workers 5
I am seeing the following error on Windows.

Traceback (most recent call last):
    for (data, x_mask, y_mask) in dataloader:
  File "C:\ProgramData\Miniconda3\lib\site-packages\torch\utils\data\dataloader.py", line 501, in __iter__
    retu

[2019-05-29 12:42] yil8 commented on #35
@OpenCv30 Sorry, but I've never tried using Windows. Can you try on using Linux machine?

[2019-05-31 07:25] Nibbles55 opened #36 "The ground truth of Test_026 too"
Can you send me one tif format annotation?I will be very grateful to you. My mail: 1531269998@qq.com

[2019-06-02 10:03] yil8 commented on #36
@Nibbles55 Hi, I've sent you the file through my email

[2019-06-05 11:22] #36 closed

[2019-06-24 00:42] #34 closed

[2019-06-24 00:42] #35 closed

[2019-09-02 11:38] huangxiansong opened #38 "confuse about hard example extracting"
As in the readme 'Note that, coordinates of hard negative patches, typically around tissue boundary regions, are also includedwithin normal_train.txt and normal_valid.txt', and the code directly provide the coordinate list containing hard negative patches.
But I could not find how these coordinates were generated. I don't sure if I miss something in the code about this question.

[2019-09-02 17:33] #38 closed

[2019-09-04 06:59] yil8 commented on #38
@huangxiansong no you are not. This is the tricky part.  Please refer to #14  for more details

[2019-09-24 12:56] fazish opened #39 "The naming for coordinates used in normal_train.txt file is confusing."
Hello
The coords that you have shared with us was superb. It could not be more helpful.
However, In the normal_train.txt file, the naming used for each whole slide images is a bit confusing. As it is for Normal part, we can see Tumor_094,80227,34836 in this file. I appreciate it if you can help me to understand whether it is a mistake and I should change the name with Normal_094,80227,34836 or the

[2019-09-26 10:02] yil8 commented on #39
@fazish For tumor WSI, there is only a small fraction of the whole giant images that contain tumor cells, with the remaining still being normal cells.

[2019-09-26 10:12] fazish commented on #39
dear @yil8,
Many thanks for the response.
My question is why normal_training.txt file contains tumor_ naming in it.
Please look at the normal_training.txt file to see what I mean by that.

[2019-09-26 13:50] yil8 commented on #39
@fazish I guess I did not make myself clear. There are also lots of normal regions within tumor_xxx.tif, i.e. regions outside the tumor masks. So you can sample normal coordinates from these regions.

[2019-10-02 10:39] #39 closed

[2019-10-23 07:38] christinesu12 opened #40 "利用CAMELYON16提供的Annotations在測試時無法正確計算FROC"
每個xml所產生的mask.tif經過computeEvaluationMask皆只有返回一個腫瘤
ex . test_004.xml具有3個腫瘤註釋，但是生成的mask tif文件返回1個腫瘤
xml to tif
reader = mir.MultiResolutionImageReader()
mr_image = reader.open('../images/test_021.tif')
annotation_list = mir.AnnotationList()
xml_repository = mir.XmlRepository(annotation_list)
xml_repository.setSource('test_021.xml')
xml_repository.load()
annotation_mask = mir.AnnotationToMask()
camel

[2019-10-25 10:28] yil8 commented on #40
@christinesu12 你好，用的不是基于xml来生产mask.tif的，是用的以前官方提供的test.tif，但是现在似乎被删除了。

[2019-10-25 10:39] christinesu12 commented on #40
您好，有那可以下d之前官方提供的tif
或者能蛱峁┠y的test set或是mask幔
希望可以C是否能蛞阅的方式做出一拥慕Y果，非常感x您的回覆

取得 Android 版 Outlook<https://aka.ms/ghei36>

________________________________
From: Yi Li <notifications@github.com>
Sent: Friday, October 25, 2019 6:28:57 PM
To: baidu-research/NCRF <NCRF@noreply.github.com>
Cc: Christine Su(K毓庭) <Christine_Su@asus.com>; Mention <mention@noreply.github.com>
Subjec

[2019-10-25 10:42] christinesu12 commented on #40
您好，有那可以下d之前官方提供的tif
或者能蛱峁┠y的test set或是mask幔
希望可以C是否能蛞阅的方式做出一拥慕Y果，非常感x您的回覆

取得 Android 版 Outlook<https://aka.ms/ghei36>
________________________________
From: Yi Li <notifications@github.com>
Sent: Friday, October 25, 2019 6:28:57 PM
To: baidu-research/NCRF <NCRF@noreply.github.com>
Cc: Christine Su(K毓庭) <Christine_Su@asus.com>; Mention <mention@noreply.github.com>
Subject

[2019-10-27 01:13] yil8 commented on #40
@christinesu12 可以留一下你的email吗？我之前保留两个test_026.tif可以email给你测试一下

[2019-12-18 03:00] lvguofeng1303 commented on #40
你好 我使用ASAP查看了一下XML文件 有的标注group是以tumor为组名 而不仅仅是“_0”,"_1"和“_2”，但是似乎正确生成的mask.tif 也无法正确计算FROC。
那个请问哪可以下载官方提供的tif吗，我也想测试一下

[2019-12-20 23:53] yil8 commented on #40
@lvguofeng1303 你好，我之前用的是官方提供的test.tif，不是用ASAP转XML生成的，但是后来似乎官方把这个test.tif给删除了。

[2019-12-22 12:24] lvguofeng1303 commented on #40
@yil8 你好，我通过ASAP查看了一下全部test的XML文件，似乎使用这一组代码可以正确的生成mask.tif：
`def process(file):
    reader = mir.MultiResolutionImageReader()

    file_name = os.path.splitext(file)[0]
    path1 = os.path.join("/staff/lvguofeng/Camelyon16_dataset/testing/images", file_name+".tif")
    path2 = os.path.join("/staff/lvguofeng/Camelyon16_dataset/testing/test_xml", file_name+".xml")

    mr_image = reader.open(path1)

[2019-12-24 13:08] yil8 commented on #40
@lvguofeng1303 我没有做nms之外的后处理，所有的流程都记录在README里面了哈

[2020-01-31 06:37] #40 closed

[2020-02-04 01:29] DG2025 opened #41 "Is Linux a requirement?"
1. Do I have to use Linux to run this or can I use windows (it is throwing an error when I try to run it with windows?

[2020-02-04 01:38] DG2025 commented on #41
Sorry. I just realized what I was doing wrong. I feel like a total beginner now. :(

[2020-02-04 01:38] #41 closed

[2020-02-15 10:26] sdsy888 commented on #9
Hi, how do you change coordinates? Did you change the range?

[2020-02-15 16:17] javadnoorb commented on #9
@sdsy888 yes. I reduced the range until it worked. It was based on trial and error

[2020-02-16 14:08] DG2025 opened #42 "What was the AUC and accuracy for the code?"

[2020-02-17 05:32] sdsy888 commented on #9
@javadnoorb got it. Thank you!

[2020-02-17 13:39] yil8 commented on #42
@DG2025 you should be able to reproduce the results reported in the paper with the model ckpt provided at:
https://github.com/baidu-research/NCRF/tree/master/ckpt

[2020-02-18 02:07] DG2025 commented on #42
Yes, I was able to do that, thank you!

[2020-02-18 02:07] #42 closed

[2020-05-08 02:50] Ryanrenqian opened #43 "如何挑选较好的模型"
您好，我在使用您提供的代码跑出来的性能与论文差距较大，我想知道，您在训练时，是根据在valid上选择的吗？如果是 是根据哪些指标选择的了， 我发现有时候两个模型相比，acc差不多 但是在test上的分数却差异比较大？

[2020-05-08 03:52] yil8 commented on #43
@Ryanrenqian 你好，我是根据valid上选的哈，具体是根据loss_valid来选的，https://github.com/baidu-research/NCRF/blob/master/wsi/bin/train.py#L233

[2020-05-17 02:07] #43 closed

[2020-05-25 05:30] zty12 opened #44 "when I use probs_map.py, it will work,but when it will succeed,it report an error as following"
INFO:root:2020-05-25 00:44:36, flip : NONE, rotate : NONE, batch : 34369/36683, Run Time : 0.96
INFO:root:2020-05-25 00:44:37, flip : NONE, rotate : NONE, batch : 34370/36683, Run Time : 0.97
Traceback (most recent call last):
  File "NCRF/wsi/bin/probs_map.py", line 163, in <module>
    main()
  File "NCRF/wsi/bin/probs_map.py", line 159, in main
    run(args)
  File "NCRF/wsi/bin/probs_map.py",

[2020-05-26 09:41] yil8 commented on #44
@zty12 sorry, but I've never tried NCRF on windows yet.

[2020-05-28 01:25] #44 closed

[2020-07-14 01:08] Ryanrenqian opened #45 "NCRF 模型参数问题"
使用提供的模型参数进行测试，发现FROC只有0.39 AUC只有0.9660。  想请教作者是如何将该FROC提升至0.79的？ 目前来看性能差别有点大。

[2020-07-14 03:13] Ryanrenqian commented on #45
我看到你的NMS里面有提供高斯核滤波，请问这个有没有用到，还是说只用默认参数就好了？

[2020-07-14 10:53] yil8 commented on #45
@Ryanrenqian 你好，请问你使用的是repo自带的ckpt吗？目前其他用户重写结果层面没有出现问题。

[2020-07-14 13:25] Ryanrenqian commented on #45
没错，我使用的是repo提供的ckpt。

[2020-07-15 01:24] yil8 commented on #45
@Ryanrenqian 那就比较奇怪了，在你这边能提供更多信息之前，我也没办法进一步定位可能的问题了。

[2020-07-15 01:48] Ryanrenqian commented on #45
我具体是这样做的先根据README提供命令生成了Heatmap然后NMS提取坐标， 最后用的FROC计算，我发现用ASPP生成的Mask.tif文件有问题，就换成直接根据xml注释的坐标进行了计算，得出的结果和之前有个issue的结果是一样的0.39。 所以我想确认的是 提供的ckpt是论文给出的最佳结果吗，如果是的话，那就可能CAMELYON16现在的提供的XML和之前比赛的tif之间是存在差异的。

[2020-07-15 01:53] Ryanrenqian commented on #45
[code]
主要替换FROC部分的代码如上

[2020-07-15 01:56] Ryanrenqian commented on #45
说错了 是将xml用代码转化成json，然后计算FROC

[2020-07-15 02:11] Ryanrenqian commented on #45
您能不能提供你用NMS生成的坐标，我拿来和我生成的坐标对比一下？ 我想确认一下是不是官方提供xml的左右和比赛用的不一样。。

[2020-07-15 12:56] yil8 commented on #45
@Ryanrenqian ASPP生成的坐标跟我之前用的原始的不太一样。。。你看你生成的Test_026_tissue_mask.npy at level 6 跟我在repo里提供的一样吗？https://drive.google.com/file/d/1BdOJGeag7kq8_p1NqU_v-EQcV_OxHgcW/view

[2020-07-16 02:24] Ryanrenqian commented on #45
这是我生成的结果， 看起来是一样的除了颜色。  另外你保留的test026的mask文件能否发我一下，我的邮箱是renq2019@pku.edu.cn ， 我想看看到底是哪里不一样， 十分感谢你的帮助~~

[2020-07-17 02:06] Ryanrenqian commented on #45
我检查一下tissue mask发现确实存在一些差异。。。。

[2020-07-17 02:20] Ryanrenqian commented on #45
难道我们的原图也不一样吗, 我比较了一下矩阵尺寸,是一样大的, 但是生成的tissue mask确实存在差异...但是我看Prob热力图是非常接近的.

[2020-07-17 02:38] Ryanrenqian commented on #45
我检查了openslide的版本是3.4.1,应该会生成一样的tissue mask啊. 我主要是发现test026的标注和转化成Mask有一些问题, Test026肿瘤区域里会有一部分正常区域,而这个正常区域又有肿瘤区域.  所以想问问Test026的Mask长啥样?
![image](https://user-images.githubusercontent.com/8614325/87742592-a66b2a00-c819-11ea-9a15-972050f889a6.png)

[2020-07-17 03:20] Ryanrenqian commented on #45
![image](https://user-images.githubusercontent.com/8614325/87744577-65294900-c81e-11ea-9db0-f9802c71f500.png)
不过tissue确实有问题.我发现 tissue mask变成了Probs了..

[2020-07-17 03:43] Ryanrenqian commented on #45
![image](https://user-images.githubusercontent.com/8614325/87746212-90ae3280-c822-11ea-96e7-0679e36da3d6.png)
这个是生成的组织图 是一样的。。

[2020-07-18 06:39] yil8 commented on #45
@Ryanrenqian 我给你email发了一份原始的test_026.tif ground truth mask，你要不试试？

[2020-08-12 06:00] yangyang117 opened #46 "难样本挖掘问题"
您好，我看您在训练过程中使用了难样本挖掘技术，之前参看谷歌的论文，是将分类错误的图片进行多次训练，请问您的难样本挖掘是如何实现的呢？将tumor图像中的边缘地区截取出来作为负样本吗？

[2020-08-13 01:15] yil8 commented on #46
@yangyang117 你好，具体的话可以参照这个issue #14 ，确实如你所说，是将分类错误的图片再次拿出来进行二次训练，而且确实容易出现在边缘。

[2020-08-13 01:15] yil8 commented on #45
@Ryanrenqian 如果你这边没有新的问题的话可以关掉这个issue吗？

[2020-08-13 02:19] yangyang117 commented on #14
请问如下理解对吗？
1.通过对包含肿瘤的图像进行mask操作，获得里面的正常组织mask，将这部分进行切片作为训练样本，同时补充无肿瘤图像的切片，使样本均衡。
2.训练一个模型，将错误分类的图片进行分析，将错误分类的图片进行二次训练。
在这个过程中，是否需要对肿瘤边缘的图片进行判定？因为在level6层面大于一定的阈值判定为有肿瘤，小于一定的阈值判定为无肿瘤，这些数据会不会对模型造成很大的干扰？

[2020-08-13 03:10] #45 closed

[2020-08-13 13:44] yil8 commented on #14
@yangyang117 2. 对于错分的图片，我并没有额外去判断是否是处于边缘，但是确实发现统计上更容易出现在边缘

[2020-09-18 08:14] Doloresru opened #47 "The ground truth of Test_026 too"
Can you send me one tif format annotation?I will be very grateful to you. My mail: 1780725543@qq.com

[2020-09-18 10:13] yil8 commented on #47
@Doloresru just sent, can you take a look?

[2020-09-18 14:04] Doloresru commented on #47
Yes, I have receieved it. Thank you so much!

[2020-09-18 14:04] #47 closed

[2020-09-19 08:16] #46 closed

[2020-12-02 02:38] Doloresru commented on #45
您好，我也同样遇到了这个问题，您后来这个问题解决了吗？

[2020-12-10 07:00] Doloresru commented on #40
您好，请问您后来这个问题解决了吗？

[2020-12-14 07:32] XiaoXueShengwangrui commented on #40
请问如何获取test.tif的GT？是否能使用官方的test数据集提供的.xml来生产测试集的GT图呢？

[2020-12-15 02:03] XiaoXueShengwangrui opened #48 "关于test数据集中mask.tif"
您好，能否提供一份测试集的tif格式的标注mask。我的邮箱316625707@qq.com
ps：我一直是利用.xml的标注使用cv2.fillPoly来生成的只有单个倍率tif的mask，但我觉得这样的标注mask似乎并不准确。

[2020-12-16 00:29] yil8 commented on #48
@XiaoXueShengwangrui 你好，可遗憾测试集的tif mask之前只有官方提供下载，后来他们删除了。

[2020-12-17 06:40] XiaoXueShengwangrui commented on #48
好的，谢谢你

[2020-12-17 06:40] #48 closed

[2021-02-05 20:13] lzx325 commented on #40
It is possible to use official XML files to generate masks and then evaluate.
My code for the conversion is:
[code]
Please note that
1. Some annotations are under the group 'Exclusion' and they should be regarded as non-tumor. It seems that under the group '_2' should also be considered as non-tumor.
2. I have converted the tumor region pixel value to 255 since it is expected in the evaluation scr

[2021-02-06 11:54] yil8 commented on #40
@lzx325 WOW, that's pretty cool. Do you mind make a pull request to add this part to README?

[2021-05-15 02:29] Lotus-95 opened #50 "Why is there no NCRF without hard negative mining in the probability map?"
Thanks for your great work. I want to know the probability map in NCRF without hard negative mining, which I think it's more comparable with the baseline, but it seems like you didn't show this in the paper or README file. So I wonder why is there no NCRF without hard negative mining in the probability map?

[2021-05-15 18:48] yil8 commented on #50
@Lotus-95 Thanks for your interest in our work. I remember it was because NCRF results without hard negative mining was also bad, but I forgot if it was worse or better than baseline without hard negative mining.

[2021-05-16 02:05] #50 closed, assigned to nobody

[2021-07-17 15:24] 110dazhi opened #52 "the coordinates of pre-sampled patches"
How did you get  the coordinates of pre-sampled patches？tumor_train.txt，tumor_train.txt，tumor_valid.txt，normal_valid.txt

python NCRF/wsi/bin/patch_gen.py /WSI_TRAIN/ NCRF/coords/tumor_train.txt /PATCHES_TUMOR_TRAIN/
python NCRF/wsi/bin/patch_gen.py /WSI_TRAIN/ NCRF/coords/tumor_train.txt /PATCHES_NORMAL_TRAIN/
python NCRF/wsi/bin/patch_gen.py /WSI_TRAIN/ NCRF/coords/tumor_valid.txt /PATCHES_TUMOR

[2021-07-19 18:47] yil8 commented on #52
@110dazhi Hi, can you take a look at this thread of discussion? https://github.com/baidu-research/NCRF/issues/29

[2021-07-20 08:59] 110dazhi commented on #52
Sorry I didn't see this. But there is no problem now, thank you. I will try to run the code. And try to see if there are any improvements that can be used to complete my graduation project. Do you have any good suggestions.

[2021-07-20 17:45] yil8 commented on #52
@110dazhi maybe you can take a look at all the other papers citing this one and see what they have been doing ?

[2021-07-20 17:45] #52 closed, assigned to nobody

[2021-08-01 02:14] xray-pku opened #53 "request for ground truth mask of test_021.tif"
Before we caculate the froc score, it will take so much time to convert xml file in camelyon16 test set to mask.tif,  maybe 7+ days for test_021.tif.
Could you please send me the mask tif file of test_021.tif ? Thanks a lot.
And my email address is xurui@stu.pku.edu.cn

When i try to exclude the test_021.tif of the test set, i got froc :

**Avg FP =  0.25
Sensitivity =  0.5981735159817352
Avg FP =

[2021-08-03 05:29] #53 closed, assigned to nobody

[2021-08-03 05:58] xray-pku opened #54 "Cannot get correct FROC with resnet18 baseline ckpt"
I tried to calculate FROC  using  your  resnet18_base.ckpt, and I got:
**Avg FP =  0.25
Sensitivity =  0.6061946902654868
Avg FP =  0.5
Sensitivity =  0.6769911504424779
Avg FP =  1
Sensitivity =  0.7345132743362832
Avg FP =  2
Sensitivity =  0.7876106194690266
Avg FP =  4
Sensitivity =  0.8185840707964602
Avg FP =  8
Sensitivity =  0.8628318584070797
Avg Sensivity =  0.7477876106194691**
I have e

[2021-08-05 01:32] yil8 commented on #54
@Xray0218 Hi, thanks for your interest in our work. I'm curious how did you obtain the test_*.tif? I remember the competition organizers have removed those files...

[2021-08-05 03:17] xray-pku commented on #54
@yil8
Thanks for your reply！ I got the CAMELYON16 training and testing wsi from this google drive share link:
https://drive.google.com/drive/folders/0BzsdkU4jWx9BRWNMb2IwUjhENXM?resourcekey=0-i0G5pCeI2Hf6SwGOQ3eeDQ
And it has a zip file named "lession_annotations.zip", I extracted ground thruth xml files from this zip.
Then I converted the xml files to the ground thruth masks, using this code:

[c

[2021-08-05 16:26] yil8 commented on #54
@Xray0218 Is this google drive for the test images or the ground truth masks? https://drive.google.com/drive/folders/0BzsdkU4jWx9BWk11WEtZZUNFY0U?resourcekey=0-U0E7SyHPJeQd77VAi3z15Q If I remember correctly, the [Evaluation_FROC.py](https://github.com/baidu-research/NCRF/blob/master/wsi/bin/Evaluation_FROC.py) directly use the ground truth masks instead of the xml annotations. https://github.com/b

[2021-08-05 17:04] xray-pku commented on #54
@yil8
There are only xml annotations in the google drive, I can't get the ground truth mask directly.
So I converted the xml annotations to ground truth masks using the code above.
Maybe there's something  wrong about my code, could u send me the ground truth mask of test_026?
And my email is xurui@stu.pku.edu.cn.
Thanks a lot!

[2021-08-05 21:22] yil8 commented on #54
@Xray0218 sent

[2021-08-08 02:25] xray-pku commented on #54
Thanks for your patience,  I just checked the ground truth mask you sent, it's 1.4GB.
But the mask I got from the  code above, is about 40MB, maybe there's something wrong with my code, and I will try to find it out.

[2021-08-13 22:30] 110dazhi opened #55 "question about "probs * pairwise_potential - (1 - probs) * pairwise_potential""
非常感谢能够拜读你的论文和代码，我在看CRF layer时，对这个公式"probs * pairwise_potential - (1 - probs) * pairwise_potential"有一点不理解，（通过 #13 已经知道在代码里有详细介绍，同时在看代码的时候也注意到了）
这个是不是用的这个公式来的，我看是期望，期望的话，是不是
![expectation](https://user-images.githubusercontent.com/57225932/129444223-b691d58a-08f7-46eb-b197-cd8842e97950.png)
probs 是i 为tumor的概率，pairwise_potential 对应的是W的相似性的一个新的值，就像如果向量很相似，那角度就是0，对应的值就是cos 就是1，那他们的w就是一样的，如果角度是180那就是完全相

[2021-08-14 11:28] 110dazhi commented on #55
还有一个问题就是为什么标签兼容项可以达到 ’约束了像素间传导的条件，只有相同标签（label）条件下，能量才可以相互传导。‘然后消去case 2 和case 3,请问有推荐的参考资料看吗

[2021-08-22 15:57] Lotus-95 opened #56 "Is this results achieved the SOTA before 2018?"
Thanks for your great work! I found that Google's results is 0.87 in 2017, which is higher than your results. Is that two results comparable or they are in different setting? And your results is 0.79 in your paper but 0.80 in the [presentation](https://www.youtube.com/watch?v=t0gh5Nl8xFo), what difference between the two results?

[2021-08-22 20:24] 110dazhi commented on #56
Hello, I am also working on this code, if you want, we can communicate.email: chenmz0298@163.com

[2021-08-23 04:53] yil8 commented on #56
@Lotus-95 Hi and thanks for your interest in our work. Do you mind share the link to Google's 0.87 results back in 2017?

[2021-08-23 04:58] yil8 commented on #55
@110dazhi 实在不好意这么长时间没有回复，我最近刚加入一家startup有点忙。。。我不一定完全理解你上面文字的表述，但是感觉上是和我想表达的意思是一致的。至于推导的资料，我是基于Kevin Murphy的Probabilistic Machine Learning: An Introduction里面关于conditional random field以及对应mean field method的章节自己推导出来的。

[2021-08-23 04:58] #54 closed, assigned to nobody

[2021-08-23 07:21] Lotus-95 commented on #56
https://arxiv.org/abs/1703.02442 in table 1.

[2021-08-23 13:17] #55 closed, assigned to nobody

[2021-08-24 00:46] yil8 commented on #56
@Lotus-95 Thanks for pointing me the paper. In that case, I think Google's results are comparable to mine. I further improved the results a little bit after the paper submission and before the MLconf presentation, and thought it was worth sharing since it was not peer reviewed lol...

[2021-08-24 03:20] #56 closed, assigned to nobody

[2021-09-07 02:36] SRL94 opened #57 "What is "list.txt""
Hi,

I am studying the class "GridImageDataset". What is the "list.txt"?

Best regards
Sirui

[2021-09-07 20:27] yil8 commented on #57
@SRL94 Hi, "list.txt" is generated by [patch_gen.py](https://github.com/baidu-research/NCRF/blob/111c7d19fc6c521d2d1a2c285f5bdf525174e73f/wsi/bin/patch_gen.py) which is explained by https://github.com/baidu-research/NCRF#patch-images

[2021-09-08 08:45] SRL94 commented on #57
Hey, thank you for the explanation. How do you generate these files? I read all closed issues and it seems you have not provided it.

[2021-09-08 23:33] yil8 commented on #57
@SRL94 Can you be more specific generating what files?

[2021-09-09 03:15] SRL94 commented on #57
Such as tumor_train.txt

[2021-09-09 22:48] yil8 commented on #57
@SRL94 Oh yeah, that part was too complex and old to reproduce from me now... #29

[2021-09-10 01:23] #57 closed, assigned to nobody

[2021-12-17 10:44] alibalapour opened #59 "Have an error with data.cuda(async=True)"
When I ran the script to get a probability map of WSI, this error occurred:
`
File "NCRF/wsi/bin/probs_map.py", line 54
    data = Variable(data.cuda(async=True), volatile=True)
                                  ^
SyntaxError: invalid syntax
`

[2021-12-29 06:22] Yulu-gan opened #60 "A request for the ground truth of Test_026 too"
Thanks for your solid work!
Could u send me one tif format annotation? I'll be grateful for that!
My e-mail: ganyulu@stu.pku.edu.cn

[2021-12-31 08:15] alibalapour opened #61 "Can you explain how the code calculates the FROC score?"
I want to plot and calculate FROC for 3 WSIs (Test_001, Test_065, and Test_079 from Camelyon16), but the result is nan. I can't understand how do you calculate FROC.
We have a CSV file that shows coordinates and probabilities of tumors generated by the model and ground truth mask. Is this ground truth mask have a particular property?
What are the values of the ground truth mask? 0 or 1?
What is IT

[2022-01-11 01:59] quanhao129611 opened #62 "Efficient inference algorithm"
Hello, do you have an efficient inference algorithm for obtaining probability map?

[2022-01-18 19:39] yil8 commented on #62
@quanhao129611 I haven't had a chance to optimize this part yet, sorry...

[2022-01-27 07:50] cumtlzy opened #64 "I use matplotlib.pyplot.imshow to plot "Test_026.npy", but something go wrong, can u explain how to transpose "Test_026.npy"?"

[2022-01-27 10:04] cumtlzy commented on #64
I have solved this problem by "np.expand_dims", Thanks for your solid work!

[2022-01-27 10:04] #64 closed, assigned to nobody

[2022-01-28 19:53] #62 closed, assigned to nobody

[2022-03-11 06:31] ghost commented on #64
Hey, I think I met something wrong like u, can you share your code about transpose&plot the test_026_probs_map.npy?
thx

[2022-04-05 06:28] #60 closed, assigned to nobody

[2022-08-29 12:02] liwenxi commented on #47
@Doloresru @yil8 Hello, can you share this test_026.tif now? My mail: wenxi.li@sjtu.edu.cn. Thank you!

[2022-10-27 02:13] PyDR-Tool opened #67 "Project dependencies may have API risk issues"
Hi, In **NCRF**, inappropriate dependency versioning constraints can cause risks.

Below are the dependencies and version constraints that the project is using

[code]

The version constraint **==** will introduce the risk of dependency conflicts because the scope of dependencies is too strict.
The version constraint **No Upper Bound** and **\*** will introduce the risk of the missing API Error be